anyio==3.6.2
APScheduler==3.6.3
attrs==22.1.0
black==22.3.0
cachetools==4.2.2
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.1.3
cron-descriptor==1.2.24
croniter==1.3.4
dnspython==2.2.1
exceptiongroup==1.0.4
Flask==2.1.2
google-api-core==2.7.3
google-api-python-client==2.47.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.0
gunicorn==20.1.0
h11==0.14.0
httpcore
httplib2==0.20.4
httpx
idna==3.3
importlib-metadata==4.11.3
influxdb3-python==0.3.0
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsons==1.6.3
MarkupSafe==2.1.1
mongomock==4.1.2
mypy-extensions==0.4.3
numpy
oauthlib==3.2.0
opencv-python==4.6.0.66
packaging==21.3
pandas
pathspec==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
prometheus-client==0.16.0
prometheus-flask-exporter==0.22.4
protobuf==3.20.1
psutil==5.9.5
pyaes==1.6.1
pyarrow
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==4.2.0
pyparsing==3.0.8
pytest==7.2.0
pytest-asyncio==0.21.1
pytest-mock==3.10.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-telegram-bot==20.6
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
reactivex==4.0.4
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sentinels==1.0.0
six==1.16.0
sniffio==1.3.0
Telethon==1.25.4
tomli==2.0.1
tornado==6.1
typing_extensions==4.2.0
typish==1.9.3
tzdata==2022.1
tzlocal
uritemplate==4.1.1
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
