python-telegram-bot
fastapi
uvicorn[standard]
python-dotenv
prometheus-client
prometheus-fastapi-instrumentator
psutil
requests
pymongo
influxdb3-python
croniter
cron-descriptor
jsons

pytest
pytest-asyncio
pytest-mock
mongomock
